<template name="showRoutes">
  <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">

<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
  <h1 class="center">Affichage des routes</h1>
  <body>
      <table id="showRoutes" class="table table-hover table-bordered">
          <thead>
              <tr>
                  <th>Column Header 1</th>
                  <th>Column Header 2</th>
                  <th>Column Header 3</th>
                  <th>Column Header 4</th>
              </tr>
          </thead>
      </table>
  </body>
</template>
